# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Quizz.iml
# Datasource local storage ignored files
/../../../../../../:\unityProject\Quizz\.idea\.idea.Quizz\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
